<div class="container">
    <img src="~/Images/faleconosco1.jpg" alt="Fale conoso"/>
    <div class="jumbotron">
        <h3>Queremos ouvir o que você tem a dizer</h3>
        <p>
            Se você tiver alguma dúvida ou sugestão fale conosco
        </p>
        <p>
            <span>
                <img src="~/Images/Envelope-icon24.png"/>
            </span>
            <h5><email endereco="phmorosini@hotmail.com" conteudo="Enviar um e-mail"></email></h5>
            <br>
            <span>
                <img src ="~/Images/phone-app-icon.png"/>
            </span>
            <h5>(27) 99872-3555</h5>
            <br>
            <span>
                <img src="~/Images/Home-iconred.png"/>
            </span>
            <h5>Rua Ben Tennison 376 - Jardim Laguna - Linhares</h5>
        </p>
    </div>
</div>